.cmsMenuAdmin .box {
  overflow: hidden; }

.cmsMenuAdmin > div h4 {
  float: left;
  padding-left: 10px; }
  .cmsMenuAdmin > div h4 code {
    font-size: 0.7em; }

.cmsMenuAdmin > div button {
  background: none;
  color: inherit;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  padding: 10px; }

.cmsMenuAdmin > ul {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 15px; }

.cmsMenuAdmin ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.cmsMenuAdmin li {
  line-height: 2em;
  position: relative;
  padding: 0px 0px 0px 15px; }
  .cmsMenuAdmin li > div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cmsMenuAdmin li > div button {
      background: none;
      color: inherit;
      border: none;
      padding: 0px;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      padding: 10px; }
  .cmsMenuAdmin li ul {
    padding-left: 1em; }
  .cmsMenuAdmin li:focus {
    outline: none; }
  .cmsMenuAdmin li:after {
    content: "\A0";
    position: absolute;
    width: 220%;
    height: 1px;
    left: -100%;
    top: 0;
    border-top: 1px solid #ddd;
    z-index: 0; }

.cmsMenuAdmin .StackedList .StackedListGhost:only-child {
  display: list-item; }

.cmsMenuAdmin .StackedListGhost {
  display: none; }

.cms-menu-item {
  cursor: pointer; }
  .cms-menu-item__btn-edit {
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; }
  .cms-menu-item__drop-item {
    list-style: none; }
    .cms-menu-item__drop-item-ondrag {
      height: 40px;
      background-color: #dedede; }

.spinbox {
  height: 120px; }
  .spinbox .spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #c7c7c7;
    border-top: 3px solid #337ab7;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.skin-black .main-header > .logo {
  text-align: left; }

.logo img {
  max-width: 100%; }
