.cmsMenuAdmin .box {
  overflow: hidden; }

.cmsMenuAdmin > div h4 {
  float: left;
  padding-left: 10px; }
  .cmsMenuAdmin > div h4 code {
    font-size: 0.7em; }

.cmsMenuAdmin > div button {
  background: none;
  color: inherit;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  padding: 10px; }

.cmsMenuAdmin > ul {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 15px; }

.cmsMenuAdmin ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.cmsMenuAdmin li {
  line-height: 2em;
  position: relative;
  padding: 0px 0px 0px 15px; }
  .cmsMenuAdmin li > div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cmsMenuAdmin li > div button {
      background: none;
      color: inherit;
      border: none;
      padding: 0px;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      padding: 10px; }
  .cmsMenuAdmin li ul {
    padding-left: 1em; }
  .cmsMenuAdmin li:focus {
    outline: none; }
  .cmsMenuAdmin li:after {
    content: "\A0";
    position: absolute;
    width: 220%;
    height: 1px;
    left: -100%;
    top: 0;
    border-top: 1px solid #ddd;
    z-index: 0; }

.cmsMenuAdmin .StackedList .StackedListGhost:only-child {
  display: list-item; }

.cmsMenuAdmin .StackedListGhost {
  display: none; }

.cms-menu-item {
  cursor: pointer; }
  .cms-menu-item__btn-edit {
    float: right;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; }
  .cms-menu-item__drop-item {
    list-style: none; }
    .cms-menu-item__drop-item-ondrag {
      height: 40px;
      background-color: #dedede; }

.spinbox {
  height: 120px; }
  .spinbox .spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #c7c7c7;
    border-top: 3px solid #337ab7;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.skin-black .main-header > .logo {
  text-align: left; }

.logo img {
  max-width: 100%; }
.d-flex {
  display: flex; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

#admin-login-video {
  position: fixed;
  top: 0;
  z-index: 1; }
  #admin-login-video video {
    position: absolute;
    height: auto;
    width: calc(178vh + 53px);
    min-height: calc(100vh + 30px);
    min-width: 100vw;
    z-index: -1; }

.login-container {
  height: calc(100vh - 50px); }

.login-box, .register-box {
  position: relative;
  z-index: 2;
  width: auto;
  margin: auto;
  transform: translateY(-124px); }

.login-box-body, .register-box-body {
  border-radius: 4px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  min-width: 320px; }

.checkbox.login-checkbox label {
  margin-left: 0;
  padding-left: 0;
  padding-right: 20px; }

.login-box-msg, .register-box-msg {
  text-align: left;
  padding-left: 0; }

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }

.bg-block-analytics {
  background-color: #f8fcff; }

.p-4 {
  padding: 1.5rem !important; }

.m-1 {
  margin: 0.1rem !important; }

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important; }

.mt-5 {
  margin-top: 2rem; }

.mt-4 {
  margin-top: 1.5rem; }

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mx-5 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

.tooltip-inner {
  background-color: white; }

.tooltip-arrow {
  background-color: inherit; }

.tooltip.top .tooltip-arrow {
  border-top-color: white; }

.tooltip.right .tooltip-arrow {
  border-right-color: white; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: white; }

.tooltip.left .tooltip-arrow {
  border-left-color: white; }
