.offset-0 {
  padding-left: 0px; }

.offset-1 {
  padding-left: 25px; }

.offset-2 {
  padding-left: 50px; }

.offset-3 {
  padding-left: 75px; }

.offset-4 {
  padding-left: 100px; }

.offset-5 {
  padding-left: 125px; }

.offset-6 {
  padding-left: 150px; }

.cms-menu-item {
  cursor: pointer; }

.spinbox {
  height: 120px; }
  .spinbox .spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #c7c7c7;
    border-top: 3px solid #337ab7;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.skin-black .main-header > .logo {
  text-align: left; }

.logo img {
  max-width: 100%; }
