.small-box > .crud-name {
    text-align: center;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 10px;
}

.crud-name > p  {
    margin-bottom: 0;
}

.small-box-crud{
    color: white !important;
}
