<div class="p-4">
    <div class="mx-auto my-5">
        <div class="row">
            <div class="col-12 " style="padding-left: 1.5rem; margin-bottom: 2rem">
                <div id="embed-api-auth-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding-left: 15px; padding-right: 15px">
                <div class="box box-primary">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <div id="view-selector-container"></div>
                        <div id="view-name"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
