<div class="Chartjs  p-4 shadow bg-block-analytics box box-primary"  >
    <div class="box-header text-center">
        <h3>Navigateurs </h3>
    </div>
    <div class="box-body">
        <figure class="Chartjs-figure" id="browsers-container"></figure>
        <ol class="Chartjs-legend" id="browsers-legend"></ol>
    </div>
</div>
