<div class="Chartjs  p-4 shadow bg-block-analytics box box-primary">
    <div class="box-header text-center">
        <h3>Appareils </h3>
    </div>
    <div class="box-body">
        <figure class="Chartjs-figure" id="devices-container"></figure>
        <ol class="Chartjs-legend" id="devices-legend"></ol>
        <div class="row" style="text-align: center">
            <div class="col-12 col-md-4">
                <i class="fa fa-desktop fa-4x"></i>
                <p id="text-Ordinateur" style="margin-top: 1px; font-size: 1.3rem"></p>
            </div>
            <div class="col-12 col-md-4">
                <i class="fa fa-mobile fa-4x"></i>
                <p id="text-Mobile" style="margin-top: 1px; font-size: 1.3rem"></p>
            </div>
            <div class="col-12 col-md-4">
                <i class="fa fa-tablet fa-4x"></i>
                <p id="text-Tablette" style="margin-top: 1px; font-size: 1.3rem"></p>
            </div>
        </div>
    </div>
</div>
