<div class="Chartjs p-4 shadow bg-block-analytics box box-primary">
    <div class="box-header text-center">
        <h3>Semaine dernière / Cette semaine </h3>
    </div>
    <div class="box-body">
        <figure class="Chartjs-figure" id="week-container"></figure>
        <ol class="Chartjs-legend" id="week-legend"></ol>
    </div>
</div>
