<div class="Chartjs  p-4 shadow bg-block-analytics box box-primary" >
    <div class="box-header text-center">
        <h3>L'année dernière / Cette année </h3>
    </div>
    <div class="box-body">
        <figure class="Chartjs-figure" id="year-container"></figure>
        <ol class="Chartjs-legend" id="year-legend"></ol>
    </div>
</div>
