<div class="Chartjs  p-4 shadow bg-block-analytics box box-primary" >
    <div class="box-header text-center">
        <h3>Utilisateurs </h3>
    </div>
    <div class="box-body">
        <div class="" id="active-users-container">

        </div>
        <figure class="Chartjs-figure" id="users-container"></figure>
        <ol class="Chartjs-legend" id="users-legend"></ol>
    </div>
</div>
