<div class="Chartjs  p-4 shadow bg-block-analytics box box-primary" >
    <div class="box-header text-center">
        <h3>Utilisateurs par heure </h3>
    </div>
    <div class="box-body">
        <div class="row text-center">
            <div class="col-xs-12 col-xs-offset-2" id="users-container" >

            </div>
        </div>
    </div>
</div>

{% if users_color is defined %}
    <div id="users_color" style="display: none;" data-users-color="{{ users_color }}">
    </div>
{% endif %}
