{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.child('cms.admin.cms_menu_item').hasRoute('create') %}
    <li>
        <a class="sonata-action-element" id="addItemBtn" href="#">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Ajouter
        </a>
    </li>
{% endif %}
