<a
        href="{{ admin.generateObjectUrl('cms.admin.cms_menu.list', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
>
    <i class="fa fa-list" aria-hidden="true"></i> Menus
</a>
