<a
        href="{{ admin.generateObjectUrl('cms.admin.cms_shared_block.list', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
>
    <i class="fa fa-th-large" aria-hidden="true"></i> Blocs partagés
</a>
