<a
        href="{{ admin.generateObjectUrl('cms.admin.cms_page.tree', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
>
    <i class="fa fa-sitemap" aria-hidden="true"></i> Pagesssh
</a>
