.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
   align-items: center;
}
#admin-login-video{
    position: fixed;
    top : 0;
    z-index: 1;
    video{
        position: absolute;
        height: auto;
        width: calc(178vh + 53px);
        min-height: calc(100vh + 30px);
        min-width: 100vw;
        z-index: -1;
    }
}
.login-container{
    height: calc(100vh - 50px); // height of header
}
.login-box, .register-box{
    position: relative;
    z-index: 2;
    width: auto;
    margin: auto;
    transform: translateY(-124px); // height of logo to center login box

}
.login-box-body, .register-box-body{
    border-radius: 4px;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}
.checkbox.login-checkbox{
    label{
        margin-left : 0;
        padding-left : 0;
        padding-right : 20px;
    }
}
.shadow-sm{
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075) !important
}
.shadow{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15) !important
}
.shadow-lg{
    box-shadow:0 1rem 3rem rgba(0,0,0,.175) !important;
}
.bg-block-analytics{
    background-color: #f8fcff;
}
.p-4{
    padding:1.5rem!important
}
.m-1{
    margin:0.1rem!important
}
.px-4{
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;

}
.mt-5{
    margin-top: 2rem
}
.mt-4{
    margin-top: 1.5rem
}
.my-5{
    margin-top: 2rem;
    margin-bottom: 2rem
}
.mx-5{
    margin-top: 2rem;
    margin-bottom: 2rem
}
.text-center{
    text-align: center;
}
.mr-auto,
.mx-auto {
    margin-right: auto !important;
}
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
.tooltip-inner  {
     background-color: white;}
.tooltip-arrow{
     background-color: inherit;
 }
.tooltip.top .tooltip-arrow {
    border-top-color: white;
}
.tooltip.right .tooltip-arrow {
    border-right-color: white;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: white;
}
.tooltip.left .tooltip-arrow {
    border-left-color: white;
}
